obj/
bin/
.vs/
.vs/ProjectEvaluation/
.vs/CaseyAdventure/
.vs/CaseyAdventure/FileContentIndex/0ad79b5f-51fc-4ebe-bfed-b45b73001d25.vsidx
.vs/CaseyAdventure/FileContentIndex/3aeb6f97-270a-4d95-8425-1d3f1c874a42.vsidx
.vs/CaseyAdventure/FileContentIndex/7c283c5c-2423-404f-b7ac-ba95299d84b4.vsidx
.vs/CaseyAdventure/FileContentIndex/be0d5b08-6ff2-4bbc-9b60-332eee36965f.vsidx
.vs/CaseyAdventure/v17/.futdcache.v1
.vs/CaseyAdventure/v17/.suo
.vs/ProjectEvaluation/caseyadventure.metadata.v2
.vs/ProjectEvaluation/caseyadventure.projects.v2
